.covaccin-container {
  display: flex;
  justify-content: left;
  margin:35px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.input-container{
  width: 128px;
}

.go-button{
  width: 100px;
  height: 30px;
  background-color: rgb(131, 196, 131);
  border-width: 0px;
  border-radius: 2px;
  margin-left: 3px;
  text-align: center;
  color: #FFF;
}
.header{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
}
.table-head{
  background-color: rgb(131, 196, 131);
  height: 40px;
  width:100vw;
  color: #ffffff;
  border:  1px solid #ddd !important;
  text-align: center;

}
.table th, table td{
  border:  1px solid #ddd !important;
  padding: 8px;

}
.table-body-item{
  text-align: center;
  background-color: lightgrey;
}
.modal {
  transform: scale(0) !important ;
  transition: all 0.4s ease-in-out !important;
}
.modal.show {
  transform: scale(1) !important;
  transition: all 0.4s ease-in-out !important;
  top: 30%;
}
.modal .modal-header {
  background-color: rgb(13, 183, 240);
  height: 55px;
  color: #ffffff;
  margin-bottom: 9px;
  transition: all 0.4s ease-in-out !important;
  width: 90%;
  padding-left: 10px;
  margin-left: 0.8px;
}